body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
  #map {
    width: 100%;
    height: 70vh;  /* or 100vh if you want it fullscreen */
    margin-bottom: 1em;
    background-color: lightgray;
}

#map svg {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #map svg circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
    fill: var(--color);
    transition: fill 0.3s ease;
    pointer-events: auto;
  }

.swatch {
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.3em;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
}
header{
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom:1em;
}
label{
  margin-left: auto;
}

/* Legend Styles */
.legend {
  display: flex;
  gap: 1px;
  margin-block: 1em;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  color: white;
  margin:auto;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1em;
  text-align: center;
  transition: background-color 0.3s ease;
  color: white;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  background-color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
  );
}


